html {
    font-family: 'Roboto', 'Noto', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .wrapper-aside-big {
        display: none !important;
    }

    .wrapper-aside-small {
        display: flex !important;
    }
}

@media screen and (max-width: 400px) {
    .wrapper-aside-big {
        display: none !important;
    }

    .wrapper-aside-small {
        display: none !important;
    }
}