html {
    font-family: Trebuchet MS, sans-serif;
    font-size: 24px;
}

.wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex: 1 30%;
    width: 30%;
    height: 400px;
    margin: 20px;
    border: 1px solid grey;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 3%;
}

.profile-background {
    width: 100%;
    background-image: url(profile-background-image.jpg);
    flex: 1 1 30%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    transition: padding 0.5s linear;
}

.profile-background:hover {
    flex: 1 1 30%;
}

.profile-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.profile-image {
    position: relative;
    margin-top: -53px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    background-image: url(profile-image.jpg);
    background-position: center;
    background-size: 200%;
    border: 6px solid white;
    border-radius: 50%;
}

.name-surname {
    width: 100%;
    text-align: center;
    color: rosybrown;
    margin-bottom: 20px;
}

.bio {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    background: palevioletred;
    background-image: url(profile-arrow.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.48);
}