@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3rtfil');
  src:  url('fonts/icomoon.eot?3rtfil#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3rtfil') format('truetype'),
    url('fonts/icomoon.woff?3rtfil') format('woff'),
    url('fonts/icomoon.svg?3rtfil#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
  content: "\e900";
}
.icon-apps:before {
  content: "\e900";
}
.icon-squares:before {
  content: "\e900";
}
.icon-blocks:before {
  content: "\e900";
}
.icon-home:before {
  font-size: 22px;
  content: "\e901";
}
.icon-play:before {
  font-size: 22px;
  content: "\e912";
}
.icon-film:before {
  font-size: 22px;
  content: "\e913";
}
.icon-video-camera:before {
  font-size: 18px;
  content: "\e914";
}
.icon-folder:before {
  font-size: 22px;
  content: "\e92f";
}
.icon-price-tag:before {
  font-size: 22px;
  content: "\e935";
}
.icon-history:before {
  font-size: 22px;
  content: "\e94d";
}
.icon-clock2:before {
  font-size: 22px;
  content: "\e94f";
}
.icon-bell:before {
  content: "\e951";
}
.icon-search:before {
  content: "\e986";
  color: rgba(255,255,255,0.5);
  width: 20px;
  height: 20px;
  font-size: 16px;
  vertical-align: -10%;
}
.icon-cog:before {
  content: "\e994";
}
.icon-fire:before {
  content: "\e9a9";
  font-size: 22px;
}
.icon-menu:before {
  vertical-align: 100%;
  content: "\e9bd";
}
.icon-circle-down:before {
  content: "\ea43";
  font-size: 22px;
}
.icon-share:before {
  content: "\ea7d";
}
.icon-youtube:before {
  content: "\ea9d";
  font-size: 22px;
}
.icon-youtube2:before {
  content: "\ea9e";
  font-size: 24px;
}
